html {
    background-color: black;
}

body, html {
    margin: 0;
    padding: 0;
}

* {
    font-family: Ubuntu;
    color: white;
    font-weight: normal;
    text-align: center;
}

#ruler {
    visibility: hidden;
    white-space: nowrap;
    text-align: left;
    position: absolute;
    font-size: 4em;
    top: 50%;
    left: 0%;
}

.intro-container {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.intro {
    font-size: 4em;
    overflow-wrap: anywhere;
}
